body{
    height: 100vh;
}

.table tbody tr td{
    max-width:200px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
