{% extends 'base.html.twig' %}

{% block title %}Site en Maintenance{% endblock %}

{% block body %}

<main class="container">
    <section class="middle">
        <h1>le Site est en maintenance</h1>
        <p>Nous fessons en sorte d'etre le plus rapide pour regle ça !</p>
    </section>
</main>
{% endblock %}

{# Pour mettre le site en Maintenance rajouter dans Public un '.maintenance' #}