{% extends "base.html.twig" %}

{% block title %}Accées refuser{% endblock %}

{% block body %}
<main class="container" >
    <section class="middle">
        <h1>Vous avez pas le droit d'etre ici !</h1>
        <p>Une erreur c'est malheureusement produite !</p>
    </section> 
</main>
{% endblock %}