{% extends "base.html.twig" %}

{% block title %}Page non trouver{% endblock %}

{% block body %}
<main class="container" >
    <section class="middle">
        <h1>Page non trouvée</h1>
        <p>Une erreur c'est malheureusement produite !</p>
    </section> 
</main>
{% endblock %}